<div class="form">
  <form ng-submit="main.addSong(newSong)">
    <div>
      <label for="title">Title</label>
      <input type="text" ng-model="newSong.title">
    </div>
    <div>
      <label for="previewUrl">Preview Url</label>
      <input type="text" ng-model="newSong.preview_url">
    </div>
    <div>
      <label for="artist_name">Artist</label>
      <input type="text" ng-model="newSong.artist_name">
    </div>
    <div>
      <label for="artwork">Artwork</label>
      <input type="text" ng-model="newSong.artwork">
    </div>
    <div>
      <label for="price">Price</label>
      <input type="text" ng-model="newSong.price">
    </div>
    <button type="submit">Add Song!</button>
  </form>
</div>
